* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #FFD700;
}
.App {
  width: 100vw;          /* full viewport width */
  min-height: 100vh;     /* full viewport height */
  overflow-x: hidden;
  overflow-y: auto;      /* vertical scroll if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #FFD700;
}
body, html, #root, .App {
  margin: 0;
  padding: 0;
}